.question {
    background: #fff;
    padding: 18px 16px;
    cursor: pointer;
}
.question:hover {
    background-color: #94D8F6;
    cursor: pointer;
}
.answer input[type="text"] {
    width: 90%;
    height: 30px;
    padding: 5px;
    margin-top: 5px;
}
.answer input[type="radio"] {
    transform: scale(1.3);
    margin: 14px 10px 0;
    cursor: pointer;
}
